.edit_modal {
    .edit_modal_content {
        display: flex;
        flex-direction: column;
        background: #1B1A17;
        padding: 18px;
        margin-top: auto;
        width: 55%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        input {
            height: 32px;
            padding: 7px;
            border: 1px #A35709 solid;
            background: #242320;
            margin-bottom: 8px;
            border-radius: 4px;
            color: #F0E3CA;
        }

        input::placeholder {
            color: #F0E3CAA3;
        }

        #editDescription {
            height: 150px;
        }

        input:focus {
            outline: none;
            border: 1px #FF8303 solid;
            background: #2B2A27;
            color: #F0E3CA;
        }

        textarea {
            height: 150px;
            resize: none;
            padding: 7px;
            border: 1px #A35709 solid;
            background: #242320;
            margin-bottom: 8px;
            border-radius: 4px;
            color: #F0E3CA;
        }

        textarea::placeholder {
            color: #F0E3CAA3;
        }

        textarea:focus {
            outline: none;
            border: 1px #FF8303 solid;
            background: #2B2A27;
            color: #F0E3CA;
        }

        .edit_modal_buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                padding: 6px 4px;
                background-color: #242320;
                border: 1px solid #A35709;
                border-radius: 4px;
                color: #D9D9D9;
                width: 30%
            }

            button:hover {
                border: 1px solid #FF8303;
            }

            .cancel_button {
                margin-left: 12px;
            }
        }
    }
}